<header>
    <div class="header-logo">
        <h1>Think Training</h1>
    </div>

    <nav>
        <ul>
            <li>Courses</li>
            <li>Contact</li>
            <li>About Us</li>
            <li>Home</li>
            <li>What we do</li>
        </ul>
    <nav>
</header>
