<!DOCTYPE html>
<html>
	<head>
		<title>Think Training Skills Development</title>
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<style type="text/css"></style>
	</head>
	<body>
		{{>header}}
	</body>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>
